In [11]:
import pandas as pd

In [12]:
df = pd.read_csv('age_income.csv')

In [13]:
df.head()

   age  Income(k)
0   21         60
1   20         55
2   22         60
3   22         61
4   23         65

In [14]:
df1 = df.copy()
df2 = df.copy()

In [15]:
x = df1.drop('Income(k)', axis = 1)

In [16]:
x.head()

   age
0   21
1   20
2   22
3   22
4   23

In [17]:
y = df1[['Income(k)']]

In [19]:
y.head()

   Income(k)
0         60
1         55
2         60
3         61
4         65

In [20]:
from sklearn.neighbors import KNeighborsRegressor

In [21]:
y_neigh = KNeighborsRegressor(n_neighbors=3)

In [22]:
y_neigh.fit(x, y)

KNeighborsRegressor(n_neighbors=3)

In [24]:
y_neigh.predict([[22]])

C:\Users\asadu\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but KNeighborsRegressor was fitted with feature names
  warnings.warn(

array([[60.33333333]])

In [25]:
df1[['predicted_income(k)']] = y_neigh.predict(x)

In [28]:
df1.head()

   age  Income(k)  predicted_income(k)
0   21         60            59.000000
1   20         55            59.000000
2   22         60            60.333333
3   22         61            60.333333
4   23         65            62.000000

# Linear Regrassion

In [29]:
x1 = df2.drop('Income(k)', axis = 1)

In [30]:
y1 = df2[['Income(k)']]

In [32]:
import numpy as np
from sklearn.linear_model import LinearRegression

In [33]:
reg = LinearRegression()

In [34]:
reg.fit(x1, y1)

LinearRegression()

In [35]:
reg.score(x1, y1)

0.7870258620689655

In [36]:
reg.coef_

array([[1.01551724]])

In [37]:
reg.intercept_

array([38.62931034])

In [40]:
reg.predict([[22]])

C:\Users\asadu\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[60.97068966]])

In [41]:
df2[['predicted_income(k)']] = reg.predict(x1)

In [43]:
df2.head()

   age  Income(k)  predicted_income(k)
0   21         60            59.955172
1   20         55            58.939655
2   22         60            60.970690
3   22         61            60.970690
4   23         65            61.986207

In [44]:
from sklearn.metrics import mean_squared_error

In [45]:
mse = mean_squared_error(y, y_neigh.predict(x))
mse

4.876543209876539

In [46]:
mse1 = mean_squared_error(y1, reg.predict(x1))
mse1

3.996551724137932

Whereas Linear Regression is less than KNN Regression according to mse, mse value close to zero is better, So in this case Linear Regression is better than KNN Regression